{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6c33ff7834.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!--todo: remove all bootstrap class names from project
   -->
    <!--todo: remove slick from project, build own sliders -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <!-- {% block style %} {% endblock %} -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav nav-desktop">
            <a class="nav__link nav__link-brand" href="{% url 'main:home' %}">MEMO CARDS</a>
            <a class="nav__link" href="{% url 'cards:all' %}">Cards</a>
            <a class="nav__link" href="{% url 'decks:all' %}">Decks</a>
        </nav>
        <button class="burger-btn">
            <div class="burger-btn__box">
                <div class="burger-btn__bars"></div>
            </div>
        </button>
        <nav class="nav nav-mobile">
            <a class="nav__link nav__link-brand" href="{% url 'main:home' %}">MEMO CARDS</a>
            <a class="nav__link" href="{% url 'cards:all' %}">Cards</a>
            <a class="nav__link" href="{% url 'decks:all' %}">Decks</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="wrapper">
            <div class="footer__boxes">
                <div class="footer__box">
                    <h3 class="footer__box-title">Media</h3>
                    <ul class="footer__box-list">
                        <li class="footer__box-list-item"><a href="#">A</a></li>
                        <li class="footer__box-list-item"><a href="#">B</a></li>
                        <li class="footer__box-list-item"><a href="#">C</a></li>
                    </ul>
                </div>
                <div class="footer_box footer__box-desktop">
                <h3 class="footer__box-title">O Firmie</h3>
                <ul class="footer__box-list">
                    <li class="footer__box-list-item"><a href="#">O nas</a></li>
                    <li class="footer__box-list-item"><a href="#">Zarząd</a></li>
                    <li class="footer__box-list-item"><a href="#">Kariera</a></li>
                    <li class="footer__box-list-item"><a href="#">FAQ</a></li>
                </ul>
            </div>
            </div>
            </div>
        </div>
        <hr>
        <p class="footer__bottom-text">©Uncle Moris | <span class="y"></span></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'main/js/slick_settings.js' %}"></script>
</body>
</html>