@use '../abstracts/colors' as colors;



.nav {
  &-desktop {}
  &-mobile {
    display: none;
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.4rem;
    font-size: 1.6rem;
    color: red;
    &:hover{
      color: #2E94B9;
    }
  }
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (min-width: 992px) {
  .welcome-img {
    background-image: url('../img/business-card-ge8da23410_1920.png');
  }
}