@use '../abstracts/colors' as c;

// cards

// single card styles

.memo-card {
  margin-top: 150px;
  color: c.$grey;
  &__body {
    position: relative;
    padding: 10px 20px;
    width: 400px;
    height: 400px;
    border-radius: 18px;
    border: 2px c.$grey solid;
    background: c.$white;
  }

  &__question{
    padding: 10px;
  }

  &__answer{
    padding: 10px;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: violet;


  }

  &__btn {
    padding: 11px 22px;
    border: 2px c.$grey solid;
    border-radius: 9px;
    cursor: pointer;
    width: 30%;
    font-size: 1rem;
    text-transform: uppercase;
    &-no {
      background-color: red;
    }

    &-ok{
      background-color: #39b439;
    }
  }
}