{% extends 'base.html' %}
<!-- The static title of Post  -->
{% block title %}
{{ details.title }}
{% endblock %}
{% block content %}
<section class="justify-content-center container">

    <h1 class="page-title">{{ details.title }}</h1>
<div class="container">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="question card-text">{{ card.question }}</p>
        </div>
        <button type="button" class="check btn btn-light"> Check </button>
    </div>

    <div class="card text-dark bg-light mb-3 response" style="max-width: 18rem;">
        <div class="card-body">
            <p class="question card-text">{{ card.response }}</p>
        </div>
    </div>
</div>

    <div>
        <div class="nav">
            {% for tag in tags %}
            {{ tag.name }}
            {% endfor %}
        </div>
        <div>
            {% for c in category %}
            {{ c.name }}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
