{% extends 'base.html' %}
<!-- The static title of Post  -->
{% block title %}
{{ card.id }}
{% endblock %}
{% block content %}
<section class="vh-100">
    <div class="d-flex justify-content-center align-items-center">
        <div class="memo-card">
            <div class="memo-card__body">
                <div class="memo-card__question">{{ card.question }}</div>
                <div class="memo-card__answer">{{ card.answer }}</div>
                <div class="memo-card__btns">
                    <div class="memo-card__btn">Check</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
