{% extends 'base.html' %}
<!-- The static title of Post  -->
{% block title %}
{{ details.title }}
{% endblock %}
{% block content %}
<section class="justify-content-center container">
    <h1 class="page-title">{{ details.title }}</h1>
        <p class="question">{{ card_details.question }}</p>
            <button type="button" class="check btn btn-light"> Check </button>
        <div class="response bg-light">
            <p>{{ card_details.response }}</p>
        </div>
    <div>
        <div class="nav">
            {% for tag in tags %}
            {{ tag.name }}
            {% endfor %}
        </div>
        <div>
            {% for c in category %}
            {{ c.name }}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
