{% extends 'base.html' %}
<!-- The static title of Post  -->
{% block title %} Welcome in memocards !! {% endblock %}
{% block content %}
<header>
    <div class="welcome-img">
        <div class="welcome-shadow">
            <div class="welcome-text d-flex flex-column justify-content-center align-items-center">
                <h1>Coś tam</h1>
                <p>Coś tam</p>
            </div>
        </div>
    </div>
</header>
<!-- todo "Add some kind od carousel with lith sides of app" -->
{% endblock %}