@keyframes up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(35%);

    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}