$background-them: #ACDCEE;

// palettes 1
$dark-blue: #2E94B9; // rgb(46, 148, 185)
$light-blue: #ACDCEE; // rgb(172, 220, 238)
$white: #F0FBFF; // rgb(240, 251, 255)
$grey: #475053; // rgb(71, 80, 83)


// #2E94B9
//#475053
//#ACDCEE
//#F0FBFF
//rgb(46, 148, 185)
//rgb(71, 80, 83)
//rgb(172, 220, 238)

