/*
sass style.scss:../css/style.css -w
*/
@use './colors' as colors ;
@use './animations' as animations;
@use './reset' as reset ;


.response {
    display: none;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    background-color: colors.$background-them;
}

nav {
    text-transform: uppercase;
    z-index: 1;
}

header {
    color: colors.$grey;
    text-shadow: 2px 1px colors.$white;
    h1 {
        font-size: 30px;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
    }

    .welcome-img {
        position: relative;
        height: 100vh;
        background-image: url('../img/business-card-g3dca71946_640.png');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }

    .welcome-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255, .5 );
        z-index: -10;
    }

    .welcome-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        text-align: center;
        z-index: 5;
    }
}

@media (min-width: 992px) {
    .welcome-img {
        background-image: url('../img/business-card-ge8da23410_1920.png');
    }
}