/* style.scss:../css/style.css -w 8/ */
@use './colors' as colors ;
@use './animations' as animations;
@use './reset' as colors ;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.response {
    display: none;
}


body {
    position: relative;
    background-color: rgba(203, 104, 104, 0.5);
}